doctype html
html
    head
        title= title
        link(rel='stylesheet' type="text/css" href='/css/effect.css')
    body
        .content
            .left-pane

            .center-pane
                .top-pane
                    h1#title #{title}

                .middle-pane
                    canvas#output(width="640", height="480")
                        p Your browser does not support canvas

                .bottom-pane
                    .credits
                        | Image by
                        a(href="https://www.pexels.com/@reafonbgates?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels" class="artist") Reafon Gates
                        | on
                        a(href="https://www.pexels.com/photo/take-it-easy-painted-road-1570264/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels" class="website") Pexels

                    .logo
                        h3 presented by
                        img(src="/images/assets/oaxley.png", alt="Rotozoom by Oaxley")

            .right-pane

        script(src='/js/ts-rotozoom.bundle.js')