doctype html
html
    head
        title= title
        link(rel='stylesheet' type="text/css" href='/css/effect.css')
    body
        .content
            .left-pane

            .center-pane
                .top-pane
                    h1#title #{title}

                .middle-pane
                    canvas#output(width="640", height="480")
                        p Your browser does not support canvas

                .bottom-pane
                    .credits
                        | image by
                        a(href="https://pixabay.com/users/burrough-25900/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=465304" class="artist") burrough
                        | from
                        a(href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=465304" class="website") Pixabay

                    .logo
                        h3 presented by
                        img(src="/images/assets/oaxley.png", alt="Lens by Oaxley")

            .right-pane

        script(src='/js/ts-lens.bundle.js')