doctype html
html
    head
        title= title
        link(rel='stylesheet' type="text/css" href='/css/effect.css')
    body
        .content
            .left-pane

            .center-pane
                .top-pane
                    h1#title #{title}

                .middle-pane
                    canvas#output(width="640", height="480")
                        p Your browser does not support canvas

                .bottom-pane
                    .credits

                    .logo
                        h3 presented by
                        img(src="/images/assets/oaxley.png", alt="Glenz Vectors by Oaxley")

            .right-pane

        script(src='/js/ts-glenz.bundle.js')