doctype html
html
    head
        title= title
        link(rel="stylesheet", type="text/css", href="/css/main.css")

    body
        .content
            .title
                h1 Demoscene effects from the 90's

            .middle
                .left

                .center
                    .item
                        a(href="/ts-flames") FireCube &amp; Flames
                        img(src="/images/ts-flames.screenshot.png" with="320" height="240")

                    .item
                        a(href="/ts-lens") Elastic Lens
                        img(src="/images/ts-lens.screenshot.png" with="320" height="240")

                    .item
                        a(href="/ts-metaball") Light balls
                        img(src="/images/ts-metaball.screenshot.png" with="320" height="240")

                .right

            .bottom