doctype html
html
    head
        title= title
        link(rel='stylesheet' type="text/css" href='/css/main.css')
    body
        .content
            .left-pane

            .center-pane
                .top-pane
                    h1#title #{title}

                .middle-pane
                    canvas#output(width="640", height="480")
                        p Your browser does not support canvas

                .bottom-pane
                    .credits

                    .logo
                        h3 presented by
                        img(src="/images/oaxley.png", alt="by Oaxley")

            .right-pane

            a.prev &#10094
            a.next &#10095

        script(src='/js/main.bundle.js')